#mune {
    position: fixed;

    .rolls {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 400px;

        button {
            width: 128px;
        }
    }
}