<div class="mune">
    <h2>{{title}}</h2>
    
    {{#if flavor}}<p><span class="flavor">{{flavor}}</span></p>{{/if}}

    <p><span class="content">{{result}}{{#if resultSuffix}} {{resultSuffix}}{{/if}}</span></p>
</div>