<div class="mune mune-portent">
    <h2>{{localize "MUNE.Portent.Name"}}</h2>
    
    {{#if flavor}}<p><span class="flavor">{{flavor}}</span></p>{{/if}}

    <p class="content">
        {{#each words as |word|}}
        <span class="tag word">{{word}}</span>
        {{/each}}
    </p>
</div>
