<div class="mune">
    <h2>{{localize "MUNE.Portent.Name"}}</h2>

    <p class="content">
        {{#each words as |word|}}
        <span class="tag word">{{word}}</span>
        {{/each}}
    </p>
</div>